@import "tailwindcss";


.logo{
     
        font-family: "Pacifico", serif;
        font-weight: 400;
        font-style: normal;
        color:  #2b82e6;
      
}

.primary-color{
        color: #2b82e6;
}